* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.container {
  height: 95vh;
  overflow-y: auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.contents_container {
  margin-top: 20px;
  margin-bottom: 70px;
}