* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  margin: 0;
  width: 200px;
  height: 95vh;
  border: 1px solid black;
  display: inline-block;
}

.head_text {
  padding-top: 10px;
  text-align: center;
}